<main class="main" ng-app="PopupEdit">
  <div class="content">
    <div *ngIf="isEdited; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width:fit-content; height: fit-content;">
        <mat-form-field class="example-full-width" style="min-height: 60px; width: 400px; margin: 12px;">
          <textarea matInput [value]="content" placeholder="Введите текст кнопки" style="min-height: 60px;" #textInput></textarea>
        </mat-form-field>
        <button mat-stroked-button color="primary" style="margin: 0; padding: 0px 6px;" (click)="setContent(textInput.value); isEdited=false;">Сохранить</button>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-stroked-button color="primary" style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width:fit-content; height: fit-content; padding: 12px 16px;" (click)="isEdited=true">{{content}}</button>
    </ng-template> 
  </div>
</main>

<router-outlet></router-outlet>
